.default-placeholder input::placeholder {
  letter-spacing: 0 !important;
}

@layer base {
  :root {
    --font-sans: 'Noto Sans Persian', sans-serif;
  }
  
  html {
    font-family: var(--font-sans);
  }
  
  body {
    @apply bg-gray-50 text-gray-900;
  }

  .default-placeholder::placeholder {
    letter-spacing: 0 !important;
  }
 
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium transition-all duration-200;
  }
  
  .btn-primary {
    @apply btn bg-blue-500 text-white hover:bg-blue-600;
  }
  
  .btn-secondary {
    @apply btn bg-purple-600 text-white hover:bg-purple-700;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities; 

